.table {
    background-color: rgb(190, 197, 216);
    width: 50%;
    position: relative;
    margin-left: 25%;
    border-radius: 25px;
}

.row-answer-text {
    transform: scale(1.7);
    width: 12%;
    font-size: 12px;
    text-align: center;
    position: absolute;    
    left: 80%;
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
}

.header-spacing {
    margin-top: 3%;
    border-bottom: 1px solid #888;
}

.table-title {
    border: 4px solid rgb(118, 167, 21);
    border-radius: 25px;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.row-wrapper {
    border-bottom: 1px solid #888;
    padding: 20px;    
}

.table-button {
    position: sticky;
    left: 45%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1% 10%;
    font-size: 32px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: rgb(118, 167, 21);
} 